/.coverage
/db.sqlite3
/htmlcov
/task.md
accounts/__pycache__/admin.cpython-310.pyc
accounts/__pycache__/forms.cpython-310.pyc
accounts/__pycache__/models.cpython-310.pyc
accounts/__pycache__/serializers.cpython-310.pyc
accounts/__pycache__/urls.cpython-310.pyc
accounts/__pycache__/views.cpython-310.pyc
